@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'https://a.storyblok.com/f/212319/x/e6ccda03b8/blueprint-blank.css'; */

.hero {
    background-size: cover;
    background-position: center;
    padding: 4rem 2rem;
    text-align: center;
}
.home-hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.home-hero h2 {
    color: gold;
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: 700;
}
.home-hero h3 {
    color: gold;
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: 300;
}
