@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'https://a.storyblok.com/f/212319/x/e6ccda03b8/blueprint-blank.css'; */

.hero {
    background-size: cover;
    background-position: center;
    padding: 4rem 2rem;
    text-align: center;
}
.home-hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.home-hero h2 {
    color: gold;
}
.home-hero h3 {
    color: gold;
}
